.about {
  background-color: $basic_blue_dark;
}

.about__wrapper {
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 292px;
  background-position: center center;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/about-tablet@1x.png");
    background-size: 376px;
    background-position: right center;
  }

  @media (min-width: $desctop-width) {
    background-image: url("../../img/about-desktop@1x.png");
    background-size: 630px;
    background-position: right center;
  }
}

.about__content {
  padding: 33px 35px 82px 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.about__title {
  @include reset-indents;
  @include font(24px, 24px, 600);
  margin-bottom: 19px;
  color: $special_orange;

  @media (min-width: $tablet-width) {
    @include font(45px, 45px, 600);
  }
}

.about__text {
  @include reset-indents;
  @include font(16px, 22px, 300);
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    @include font(28px, 33px, 300);
    margin-bottom: 31px;
  }
}

.about__note {
  @include reset-indents;
  @include font(16px, 22px, 600);

  @media (min-width: $tablet-width) {
    @include font(21px, 25px, 600);
    margin-bottom: 52px;
  }

  @media (min-width: $desctop-width) {
    width: 425px;
  }
}

.about__button {
  text-decoration: none;
  position: relative;
  display: none;
  padding: 18px 23px;
  background-color: #ffd74b;
  color: #161c35;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: normal;

  &::after {
    position: absolute;
    right: 24px;
    content: "\25BA";
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 276px;
  }

  @media (min-width: $desctop-width) {
    width: 274px;
  }
}
