.auth {
  text-align: left;
}

.auth__button {
  background-color: $basic_yellow;
  color: $basic_blue;
  @include reset-link;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.auth__phone,
.auth__mail {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  @include reset-link;
  color: $basic_blue_dark;
}
