.calendar {
  padding-top: 23px;
}

.calendar__month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
  border-top: 1px solid $special-border;
  border-bottom: 1px solid $special-border;
}

.calendar__month-current {
  @include reset-indents;
  @include font(20px, 20px, 600);
}

.calendar__month-preview,
.calendar__month-next {
  @include reset-button;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.calendar__month-preview {
  background-image: url("../../img/month-arrow-left.svg");
}

.calendar__month-next {
  background-image: url("../../img/month-arrow-right.svg");
}
