.check-in {
  color: $basic_white;
  padding-top: 25px;
  padding-bottom: 28px;
}

.check-in__wrapper {
  padding: 71px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-in__title {
  @include reset-indents;
  @include font(24px, 24px, 600);
  padding-bottom: 15px;
  text-align: center;
  color: $special_orange;

  @media (min-width: $tablet-width) {
    @include font(45px, 45px, 600);
    padding-bottom: 59px;
  }
}

.check-in__text {
  @include font(16px, 22px, 300);
  width: 215px;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(28px, 32px, 300);
    width: 640px;
    margin-bottom: 40px;
  }
}

.check-in__link {
  @include reset-link;
  color: $basic_yellow;
}

.check-in__contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: $desctop-width) {
    align-items: center;
  }
}

.check-in__phone,
.check-in__mail {
  @include font(16px, 22px, 600);
  @include reset-link;
  padding-left: 61px;
  color: $basic_yellow;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(28px, 28px, 600);
    flex-basis: 100%;
    padding-top: 24px;
    padding-bottom: 16px;
  }

  @media (min-width: $desctop-width) {
    flex-basis: auto;
  }
}
