.location {
  color: $basic_blue_light;
}

.location__wrapper {
  background-color: $basic_yellow;
  padding: 63px 25px 35px;
  border-radius: 0 0 25px 25px;
  background-color: $basic_yellow;
}

.location__address {
  @include font(16px, 22px, 600);
  @include reset-link;
  width: 250px;
  padding: 0 0 32px 61px;
  font-style: normal;
  color: $basic_blue_dark;
  text-transform: uppercase;
}

.location__button {
  position: relative;
  display: block;
  @include reset-link;
  padding: 15px 20px;
  background-color: $basic_yellow;
  color: $basic_blue;
  @include font(18px, 18px, 600);
  border-radius: 10px;
  border: 3px solid $basic_blue_dark;
  text-transform: normal;

  &::after {
    position: absolute;
    right: 24px;
    content: "\25BA";
  }
}

.location__map {
  margin-top: -25px;
}
