.logo {
  @include reset-indents;
  display: inline-block;
  vertical-align: middle;
}

.logo__img {
  @include reset-indents;

  &--mobile {
    display: block;
    width: 100px;
    height: 18px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;
    width: 166px;
    height: 42px;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desctop-width) {
      margin-right: 40px;
    }
  }
}
