.page {
  @include reset-indents;
  @include basic-font;
  background-color: $basic_blue_lightest;
  color: $basic_blue_dark;
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
}
