.page-footer {
  position: relative;
  margin-top: -25px;
  background-color: $basic_white;
  color: $special_grey;
  border-radius: 25px 25px 0 0;
  z-index: 100;
}

.page-footer__wrapper {
  padding: 35px 25px 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__devs {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}
