.page-content {
  background-color: $basic_blue_lightest;
  color: $basic_white;
}

.page-content__wrapper {
  @include basic-wrapper;
}

.page-content__promo {
  position: relative;
  background-color: $basic_blue;
  padding-bottom: 39px;
  z-index: 70;
}

.page-content__about {
  position: relative;
  border-radius: 0 0 25px 25px;
  z-index: 60;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__direction {
  position: relative;
  margin-top: -25px;
  background-color: $basic_blue_lightest;
  border-radius: 0 0 25px 25px;
  z-index: 50;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__travelers {
  position: relative;
  margin-top: -25px;
  background-color: $basic_blue_dark;
  background-image: url("../../img/rogovaya-back-mobile@1x.png"), url("../../img/smolov-mobile@1x.jpg"), url("../../img/rogovaya-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 0 0, 0 0;
  border-radius: 0 0 25px 25px;
  z-index: 40;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__rates {
  position: relative;
  margin-top: -25px;
  background-color: $basic_blue_lightest;
  border-radius: 0 0 25px 25px;
  z-index: 30;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__check-in {
  position: relative;
  margin-top: -25px;
  background-color: $basic_blue_dark;
  border-radius: 0 0 25px 25px;
  z-index: 20;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__location {
  position: relative;
  margin-top: -25px;
  z-index: 10;
}

.page-content__country-filters {
  position: relative;
  margin-top: -25px;
  background-color: $special_gray_light;
  border-radius: 0 0 25px 25px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 50px 50px;
  }
}

.page-content__filters {
  padding: 21px 25px 0;
}

.page-content__peoples {
  position: relative;
}

.page-content__user-cart {
  position: relative;
  margin-top: -25px;
  z-index: 100;
}

.page-content__user-plans {
  position: relative;
  margin-top: -25px;
  background-color: $special_blue_light;
  z-index: 90;
  border-radius: 25px 25px 0 0;
}

.page-content__plans {
  position: relative;
  margin-top: -25px;
  background-color: $special-blocks;
  z-index: 90;
  border-radius: 25px 25px 0 0;
}
