.plans-form {
  @include reset-indents;
}

.plans-form__fieldset {
  @include reset-button;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
}

.plans-form__label {
  display: flex;
  @include reset-indents;
  @include font(16px, 16px, 500);
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-bottom: 8px;
}

.plans-form__unit {
  color: rgba($basic_black, 0.3);
  margin-left: auto;
}

.plans-form__input {
  width: 100%;
  border: 1px solid $special-border;
  border-radius: 4px;
  padding: 12px 14px 13px;
  text-align: center;
  @include font(14px, 14px, 500);
  color: $basic_blue_light;
  margin-bottom: 20px;
}

.plans-form__checkbox {
  display: flex;
  align-items: center;
  @include font(15px, 15px, 400);

  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: $basic_white;
    border-radius: 4px;
    margin-right: 13px;
    border: 1px solid $special-border;
  }
}

.plans-form__button {
  position: relative;
  @include reset-button;
  @include reset-link;
  display: block;
  width: 100%;
  padding: 14px 20px;
  background-color: $basic_yellow;
  color: $basic_blue;
  text-align: center;
  @include font(17px, 17px, 600);
  border-radius: 25px;
  text-transform: uppercase;

  &--preview {
    background-color: transparent;
  }
}

.plans-form__entertainment {
  @include reset-button;
  @include reset-indents;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.entertainment__title {
  @include reset-indents;
  @include font(18px, 18px, 500);
  margin-bottom: 18px;
  padding-left: 11px;
}

.entertainment__text {
  width: 100%;
  padding: 10px 13px 10px 14px;
  border: 1px solid $special-border;
  border-radius: 4px;
  @include font(16px, 22px);
  color: $special_grey;
}

.entertainment__text::placeholder {
  color: rgba($special_grey, 0.3);
}
