.promo {
  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 192px, contain;
  background-position: 50% 100%, 0 0;
}

.promo__title {
  @include reset-indents;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.promo__auth {
  margin-top: 245px;
}

.promo__quote {
  @include reset-indents;
  max-width: 170px;
  margin: 28px 25px 29px
}

.promo__quote p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.promo__quote cite {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-style: normal;
}
