.site-nav {
  @include reset-list;
}

.site-nav__item {
  text-align: center;
}

.site-nav__link {
  font-family: $font-stack;
  font-size: 30px;
  line-height: 35px;
  @include reset-link;
  color: $basic_blue_dark;
}
