.transports-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) and (max-width: $desctop-width - 1) {
    align-items: center;

    &--vertical {
      flex-direction: column;
    }
  }

  &--filters {
    justify-content: left;

    @media (min-width: $tablet-width) and (max-width: $desctop-width - 1) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &--form {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.transports-list__item {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $basic_blue_gray;
  margin: 6px;

  &--active {
    background-color: $basic_purplish_blue;
  }
}
