.transports-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) and (max-width: $desctop-width - 1) {
    flex-direction: column;
    align-items: center;
  }

  &--filters {
    justify-content: left;

    @media (min-width: $tablet-width) and (max-width: $desctop-width - 1) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.transports-list__item {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $basic_blue_gray;
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: $basic_purplish_blue;
  }

  @media (min-width: $tablet-width) and (max-width: $desctop-width - 1) {
    margin: 0;
    margin-bottom: 5px;
  }

  &--filters {
    margin-right: 13px;
  }
}
