.travelers-list {
  @include reset-list;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 11px;
  position: relative;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin: 0 22px 44px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 81px;
  }

  @media (min-width: $desctop-width) {
    margin: 0 0 44px;
    width: 50%;
  }
}

.travelers-list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.travelers-list__image {
  border-radius: 10px 10px 0 0;

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 20px 20px 0 0;
    }
  }
}

.travelers-list__content {
  position: relative;
  background-color: $basic-white;
  border-radius: 10px;
  margin-top: -20px;
  padding: 26px 24px 24px;
  color: $basic_black;
  z-index: 10px;

  @media (min-width: $tablet-width) {
    padding: 31px 31px 27px;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
  }
}

.travelers-list__title {
  @include reset-indents;
  @include font(21px, 21px, 600);
  margin-bottom: 2px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    @include font(24px, 24px, 600);
  }
}

.travelers-list__subtitle {
  @include reset-indents;
  @include font(18px, 18px, 500);
  color: rgba($special_grey, 0.3);

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, 500);
    margin-bottom: 17px;
  }
}

.travelers-list__views {
  @include reset-indents;
  @include font(16px, 20px, 500);
  position: absolute;
  top: 28px;
  right: 24px;
  padding-left: 20px;
  color: rgba($basic_blue, 0.3);

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, 500);
    position: relative;
    top: auto;
    right: auto;
    padding-left: 24px;
  }
}

.travelers-list__flag {
  position: absolute;
  left: 24px;
  top: -12px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
    left: auto;
    right: -25px;
    top: 17px;
  }
}

.travelers-list__button {
  @include reset-link;
  @include font(18px, 18px, 600);
  position: relative;
  display: block;
  padding: 18px 23px;
  background-color: $basic_yellow;
  color: $basic_blue;
  border-radius: 10px;
  text-transform: normal;

  &::after {
    position: absolute;
    right: 24px;
    content: "\25BA";
  }

  @media (min-width: $tablet-width) {
    @include font(24px, 24px, 600);
    margin: 0 22px 60px;
    padding: 31px 32px 27px;
  }

  @media (min-width: $desctop-width) {
    display: none;
  }
}
