.user-cart {
  position: relative;
  z-index: 999;
}

.user-cart__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-row-gap: 18px;
  justify-content: center;
  align-items: start;
  padding: 45px 0 34px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 52px;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.user-cart__level {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: 18px;
  border: 2px solid $basic_yellow;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 1;
    width: 94px;
    height: 94px;
    margin-left: 0;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    right: 329px;
    top: -155px;
    min-width: 95px;
    min-height: 95px;
  }
}

.user-cart__user {
  margin-left: auto;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    grid-column: 3;
    grid-row: 1;
    margin-right: 0;
  }
}

.user-cart__avatar {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;

  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desctop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 94px;
    min-height: 94px;
    border-radius: 5px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    right: 95px;
    top: -165px;
    min-width: 190px;
    min-height: 190px;
    border-radius: 0;
    z-index: 999;

    &--tablet {
      display: none;
    }

    &--desctop {
      display: block;
    }
  }
}

.user-cart__add-photo {
  grid-column: 1 / -1;
  display: block;
}

.user-cart__button {
  @include reset-link;
  @include font(20px, 18px, 500);
  display: block;
  width: 100%;
  padding: 14px 20px;
  background-color: $special_blue_light;
  color: $basic_blue;
  text-align: center;
  border-radius: 25px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 20px 20px;
    border-radius: 10px;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    top: 25px;
    right: 95px;
    max-width: 190px;
    padding: 14px 20px;
    border-radius: 0;
  }
}

.user-cart__hashtags {
  grid-column: 1 / -1;
  width: 100%;

  @media (min-width: $desctop-width) {
    grid-column: 1;
    grid-row: 1;
  }
}

.user-cart__transports {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }

  @media (min-width: $desctop-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.user-cart__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid $special-border;
  border-radius: 10px;
  text-align: center;
  padding: 18px 25px;
}

.user-cart__textarea {
  @include reset-button;
  @include font(16px, 18px, 400);
  width: 100%;
  color: rgba($special_grey, 0.6);
  text-transform: uppercase;
}

.user-cart__legend {
  @include reset-indents;
  @include font(16px, 18px, 600);
  position: relative;
  display: inline-block;
  margin-top: -25px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: $basic_blue_lightest;
  color: $basic_blue;
  text-transform: uppercase;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    @include font(20px, 20px, 600);
    order: 2;
    margin-top: 10px;
    margin-bottom: -25px;
  }
}
