*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 40px;
  }

  @media (min-width: $desctop-width) {
    width: $desctop-width;
    padding: 0 60px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dropdown {
  display: none;
}

.dots {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
